.main {
background-color: #89CFF0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.body {
    background-color: #89CFF0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tarot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.deck {
    width: 300px;
    height: 450px;
    position:relative;
}

.card {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 8px;
    border: 3px solid white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
}

.card:nth-child(1) {
    z-index: 1;
}

.card:nth-child(2) {
    z-index: 2;
}
.card:nth-child(3) {
    z-index: 3;
}

.card:nth-child(4) {
    z-index: 4;
}
.card:nth-child(5) {
    z-index: 5;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

h1 {
    font-family: "Sour Gummy", sans-serif;
}

.yes-button {
    background-color: #4cb3e2;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.no-button {
    background-color: white;
    color: #4cb3e2;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.question1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.scale {
    transform: scale(0.1);
    animation: fadeScale 0.8s ease-out forwards;
}

@keyframes fadeScale {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(0.35);
    }
}

.white-men {
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    
}

.white-men img {
    height: 100%;
    width: auto;
}